<html>

  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>

  <body>
    <h1>Check out the Blinkist app</h1>

    <img width='300' src='./hero_image.jpg' alt='Check out the Blinkist app' />

    {{#if pageVariant}}
      <p>page variant:{{pageVariant}}</p>
      <div>
        <!-- Control variation -->
        Meet the app that revolutionized reading.
      </div>
    {{else}}
      <p>page variant:{{pageVariant}}</p>

      <div>
        <!-- Test variation -->

        Meet the app that has 18 million users.
      </div>
    {{/if}}

    <div>
      Thanks a lot for reading the article!
      <a href='/signup' id='signUpButton'>SIGN UP</a>
      for Blinkist.
    </div>

    {{message}}

  </body>
  <script>
    document.getElementById("signUpButton").addEventListener("click", function()
    { console.log("Name Cannot be empty!"); const clickEventData = {
    clickedElementId: 'signUpButton', clickedElementText:
    document.getElementById('signUpButton').textContent, name:
    navigator.appName, version: navigator.appVersion, }; // Make a POST request
    to the /log endpoint fetch('/clickEvent', { method: 'POST', headers: {
    'Content-Type': 'application/json', // adjust the content type if needed },
    body: JSON.stringify(clickEventData), }) .then(data => { console.log('Server
    response:', data); }) .catch(error => { console.error('Error during fetch
    operation:', error); }); });
  </script>
</html>