<html>

  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>

  <body>
    <h1>Check out the Blinkist app</h1>

    <img width='300' src='./hero_image.jpg' alt='Check out the Blinkist app' />

    {{#if page_variant}}
      <p>page variant: {{page_variant}}</p>
      <div>
        <!-- Control variation -->
        Meet the app that revolutionized reading.
      </div>
    {{else}}
      <p>page variant: {{page_variant}}</p>

      <div>
        <!-- Test variation -->

        Meet the app that has 18 million users.
      </div>
    {{/if}}

    <div>
      Thanks a lot for reading the article!
      <a href='/signup'>SIGN UP</a>
      for Blinkist.
    </div>
    {{message}}
  </body>

</html>